


<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 offset-2">
           <table class="table table-bordered">
            <thead>
                <tr>
                    <th>SrNo</th>
                    <th>Fname</th>
                    <th>Lname</th>
                    <th>JerseyNo</th>
                    <th>Age</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let std of cricketprop ; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{std.fname}}</td>
                    <td>{{std.lname}}</td>
                    <td>{{std.jersey}}</td>
                    <td>{{std.age}}</td>
                </tr>
            </tbody>
           </table>
        </div>
    </div>
</div>