<ul class=" nav nav-pills">
    <li class="nav-item">
        <a href="javascript:;" class="nav-link active">javascript</a>
    </li>
    <li class="nav-item">
        <a href="javascript:;" class="nav-link">angular</a>
    </li>
    <li class="nav-item">
        <a href="javascript:;" class="nav-link">html</a>
    </li>

</ul>
<div class="tabs-body mt-2">
    <div class="card mb-2">
        <div class="card-body">
            <strong>javascript
            </strong>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam consequatur suscipit autem et doloribus provident!

        </div>
    </div>
    <div class="card mb-2">
        <div class="card-body">
            <strong>angular
            </strong>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam consequatur suscipit autem et doloribus provident!

        </div>
    </div>
    <div class="card mb-2">
        <div class="card-body">
            <strong>html
            </strong>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam consequatur suscipit autem et doloribus provident!

        </div>
    </div>
</div>